#server:
#  port: 8081
#  servlet:
#    context-path: /vinh
#
#spring:
#  main:
#    allow-bean-definition-overriding: true
#  datasource:
#    url: jdbc:mysql://localhost:3307/web_course
#    username: ${MYSQL_USER:root}
#    password: ${MYSQL_PASSWORD:root}
#    driver-class-name: com.mysql.cj.jdbc.Driver
#  jpa:
#    properties:
#      hibernate:
#        dialect: org.hibernate.dialect.MySQLDialect
#    hibernate:
#      ddl-auto: update
#    show-sql: true
#
#  security:
#    oauth2:
#      client:
#        registration:
#          google:
#            client-id: ${GOOGLE_CLIENT_ID:}
#            client-secret: ${GOOGLE_CLIENT_SECRET:}
#            redirect-uri: ${GOOGLE_REDIRECT_URI:}
#            scope:
#              - email
#              - profile
#      resourceserver:
#        jwt:
#          issuer-uri: ${JWT_ISSUER_URI:}
#
#  data:
#    redis:
#      host: localhost
#      port: 6379
#
#  mail:
#    from: ${MAIL_FROM:}
#    port: ${MAIL_PORT:}
#    username: ${MAIL_USERNAME:}
#    password: ${MAIL_PASSWORD:}
#    properties:
#      mail:
#        smtp:
#          auth: true
#          starttls.enable: true
#    host: smtp.gmail.com
#
#  kafka:
#    bootstrap-servers: localhost:9094
#
#  servlet:
#    multipart:
#      enabled: true
#      max-file-size: 200MB
#      max-request-size: 200MB
#
#endpoint:
#  confirmUser: http://localhost:3000/login
#
#cloudinary:
#  cloud-name: ${CLOUDINARY_CLOUD_NAME:}
#  api-key: ${CLOUDINARY_API_KEY:}
#  api-secret: ${CLOUDINARY_API_SECRET:}
#
#jwt:
#  signerKey: ${JWT_SIGNER_KEY:}
#  valid-duration: 3600 # in second
#  refreshable-duration: 14 # in days
#
#openapi:
#  service:
#    api-docs: api-service
#    server: http://localhost:8081/vinh
#    title: API Service
#    version: v1.0.0
#
#payment:
#  vnPay:
#    url: ${VNPAY_URL:}
#    tmnCode: ${VNPAY_TMN_CODE:}
#    secretKey: ${VNPAY_SECRET_KEY:}
#    returnUrl: ${VNPAY_RETURN_URL:}
#    version: 2.1.0
#    command: pay
#    orderType: other
#
#
## keycloak:
##   enabled: true
##   auth-server-url: http://localhost:8081/auth
##   realm: QVinh
##   resource: QVinh_Web
##   credentials:
##     secret: ${KEYCLOAK_SECRET:}
##   bearer-only: true
##   ssl-required: external
##   use-resource-role-mappings: true
#
#mvc:
#  static-path-pattern: /**
#  cors:
#    allowed-origins: "http://localhost:3000"
#    allowed-methods: "GET,POST,PUT,DELETE,OPTIONS"
#    allowed-headers: "*"
#    exposed-headers: "Authorization"
#    allow-credentials: true
#    max-age: 3600

server:
  port: 8081
  servlet:
    context-path: /vinh

spring:
  main:
    allow-bean-definition-overriding: true
  datasource:
    url: "jdbc:mysql://root:glqCeZmiLvBrGmlOVnmiQNDwiMLsjBcO@shortline.proxy.rlwy.net:35514/railway"
    username: root
    password: glqCeZmiLvBrGmlOVnmiQNDwiMLsjBcO
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 771347288925-bc1qpjq2u4vwnyxe3u0flg8hfp3c8mfmd9f38ydu07.apps.googleusercontent.com
            client-secret: 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
            redirect-uri: "http://localhost:3000/authenticate"
            scope:
              - email
              - profile
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8180/realms/QVinh


  data:
    redis:
      host: ${{ RAILWAY_PRIVATE_DOMAIN }}
      port: 6379



  mail:
    from: vinhqlnq98@gmail.com
    port: 587
    username: vinhqlnq98
    password: cchopncssaamides
    properties:
      mail:
        smtp:
          auth: true
          starttls.enable: true
    host: smtp.gmail.com

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9094}

  servlet:
    multipart:
      enabled: true
      max-file-size: 200MB
      max-request-size: 200MB

endpoint:
  confirmUser: http://localhost:3000/login




cloudinary:
  cloud-name: "dta3vlvgo"
  api-key: "843466612835935"
  api-secret: "rzU2xjcxSN4KswYOwiIwqUjlPlc"


jwt:
  signerKey: "gLvuflYHwnDBTz33ET1vy9A4uvA06yVIWsg55E8XUVsL0ctIjHLqo7Q9xc+7nnha"
  valid-duration: 3600 # in second
  refreshable-duration: 14 # in days


openapi:
  service:
    api-docs: api-service
    server: http://localhost:8081/vinh
    title: API Service
    version: v1.0.0

payment:
  vnPay:
    url: https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
    tmnCode: 4RJ1QSQL
    secretKey: X8NSHLIBQMA8QO5GEKOMWW5L79Y1XVS4
    ipnUrl: http://{domain}/vinh/api/payment/vnpay
    returnUrl: http://localhost:3000/payment/vnpay-result
    version: 2.1.0
    command: pay
    orderType: other



#keycloak:
#  enabled: true
#  auth-server-url: http://localhost:8081/auth
#  realm: QVinh
#  resource: QVinh_Web #clientId
#  credentials:
#    secret: z5AbFBT6gqNlHCiOMsZBDscIXB84URZT
#  bearer-only: true
#  ssl-required: external
#  use-resource-role-mappings: true

mvc:
  static-path-pattern: /**
  cors:
    allowed-origins: "http://localhost:3000"
    allowed-methods: "GET,POST,PUT,DELETE,OPTIONS"
    allowed-headers: "*"
    exposed-headers: "Authorization"
    allow-credentials: true
    max-age: 3600
